<section class="homeslider position-relative internal-banner pb-0 shape-style1 text-center">
    <div class="s-shapers1 position-absolute wow animate__slideInLeft" data-wow-duration="1s"
        data-wow-delay="100ms">
        <img src="images/edunexttechnologies_noida-i-rounded1.svg" class="img-fluid slider-shape slider-shape1"
            alt="Best School Management Software Company in Noida">
    </div>
    <div class="s-shapers2 position-absolute wow animate__slideInRight" data-wow-duration="2s"
        data-wow-delay="200ms" style="right: -10rem; top: auto; bottom: 0;">
        <img src="images/edunexttechnologies_noida-banner-right-shape.svg"
            class="img-fluid slider-shape slider-shape2" alt="Best School Management Software Company in Noida">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="slide-content ib-left d-inline-block mb-5">
                    <h1 class="mb-3 font-family-SegoeSemiBold wow animate__fadeInUp" data-wow-duration="2s"
                        data-wow-delay="200ms">About SCI</h1>
                    <p class="mb-lg-0 wow animate__fadeInUp text-primary    " data-wow-duration="3s"
                        data-wow-delay="300ms">Student Care India</p>
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="slide-view d-flex align-items-end justify-content-between position-relative">
                    <img src="images/edunexttechnologies_noida_mobile-mockup.png"
                        class="mockup2 wow animate__slideInLeft position-absolute" data-wow-duration="2s"
                        data-wow-delay="100ms" alt="Best School Management Software Company in India">
                    <img src="images/edunexttechnologies_noida_laptop-mockup.png"
                        class="mockup1 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="200ms"
                        alt="Best School Management Software Company in India">
                    <img src="images/edunexttechnologies_noida_tab-mockup.png"
                        class="mockup3 wow animate__slideInRight position-absolute" data-wow-duration="2s"
                        data-wow-delay="300ms" alt="Best School Management Software Company in India">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- start section -->
<section class="wow animate__fadeIn mt-lg-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <p class="wow animate__fadeInUp" data-wow-duration="2s" data-wow-delay="100ms">Studentcareindia established in 2015, has emerged as a leading provider of school management software solutions in India. Our journey began with a vision to revolutionize the way educational institutions operate by introducing innovative technology solutions.</p>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<section class="why-choose-wrp bg-white py-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-lg-0">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center justify-content-end">
                                <div class="col-lg-6">
                                    <div class="why-choose-one__right animate__animated animate__slideInLeft"
                                        data-wow-duration="1s">
                                        <div class="section-title text-left">
                                            <h5 class="section-title__title">What do we believe?</h5>
                                        </div>
                                        <p class="why-choose-one__right-text">
                                            We firmly believe in the quote by Leonardo Da Vinci “Simplicity is the ultimate sophistication” and all of our solutions are designed keeping this in mind. Our clients love us for our friendly attitude, understanding of requirements, technical expertise, and ready availability for help.
                                        </p>
                                        <p>We also believe that learning never ends hence always look forward to becoming knowledge partners with educators.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="why-choose-one__left animate__animated animate__slideInRight"
                                        data-wow-duration="1s">
                                        <div class="why-choose-one__img">
                                            <img src="images/edunexttechnologies_noida_believe.png"
                                                class="img-fluid w-100"
                                                alt="Best School Management Software Company in India">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>