<!--===== HERO AREA STARTS =======-->
<div class="about-header-area" style="background-image: url(assets/img/bg/inner-header.png); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <img src="assets/img/elements/elements1.png" alt="" class="elements1 aniamtion-key-1">
    <img src="assets/img/elements/star2.png" alt="" class="star2 keyframe5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="about-inner-header heading9 text-center">
                    <h1>About Student Care India</h1>
                    <a href="/">Home <i class="fa-solid fa-angle-right"></i> <span>About Student Care India</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== HERO AREA ENDS =======-->

<!--===== ABOUT AREA STARTS =======-->
<div class="service-inner2-section-area sp8">
    <img src="assets/img/elements/instagram1.png" alt="" class="instagram1">
    <img src="assets/img/elements/linkedin1.png" alt="" class="linkedin1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="service-images">
                    <img src="assets/img/elements/facebook1.png" alt="" class="facebook1">
                   <img src="assets/img/elements/twitter1.png" alt="" class="twitter1">
                    <img src="assets/img/all-images/service-img11.png" alt="">
                    <img src="assets/img/bg/inner-bg1.png" alt="" class="inner-bg1">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="service-content heading2">
                    <h5>About Student Care India</h5>
                    <h2>About Student Care India</h2>
                    <p>Studentcareindia established in 2015, has emerged as a leading provider of school management software solutions in India. Our journey began with a vision to revolutionize the way educational institutions operate by introducing innovative technology solutions</p>
                    <br>
                    <p>School ManagementSoftwarerefers to a suite of software tools or a system that schools use to manage various administrative, academic, and operational functions. These systems are designed to help schools improve efficiency, reduce paperwork, and streamline communication between teachers, students, parents, and administrative staff. They can be cloud-based (SaaS) or hosted locally.</p>
                    <div class="space32"></div>
                    <div class="btn-area1">
                        <a routerLink="/services" class="header-btn1">View Our Services <span><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== ABOUT AREA ENDS =======-->