<div class="about-header-area"
    style="background-image: url(assets/img/bg/inner-header.png); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <img src="assets/img/elements/elements1.png" alt="" class="elements1 aniamtion-key-1">
    <img src="assets/img/elements/star2.png" alt="" class="star2 keyframe5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-auto">
                <div class="about-inner-header heading9 text-center">
                    <h1>Our Best Services</h1>
                    <a href="index.html">Home <i class="fa-solid fa-angle-right"></i> <span>Services</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== SERVICE AREA STARTS =======-->
<div class="service1-section-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="service-all-boxes-area1">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Student Information Management</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p><b>Student Profiles:</b> Track personal information, academic records, attendance,
                                    and behavior.</p>
                                <p><b>Admission Process:</b>Manage the student registration and admission workflow</p>
                                <p><b>Enrollment and Scheduling: </b>Create and manage student schedules, class
                                    assignments, and course registration.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Attendance Tracking</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Real-time tracking of student attendance in class, extracurricular activities, and
                                    school events.</p>
                                <p>* Automated alerts for parents and guardians about their child’s attendance.</p>
                                <p>* Analytics to track attendance patterns.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Grade Management</a>
                                <div class="space66"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Teachers can enter grades, assign marks, and calculate results.</p>
                                <p>* Automatic report card generation.</p>
                                <p>* Real-time access for students and parents to monitor progress.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Communication Tools</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Messaging system for teachers, parents, and students.</p>
                                <p>* Notifications about homework, assignments, exams, and school events.</p>
                                <p>* Parent-teacher communication and meeting scheduling.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Timetable Management</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Creation and management of school timetables, including subjects, teachers, and
                                    room allocation.</p>
                                <p>* Automatic conflict detection to ensure no scheduling overlaps.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Examination and Assessment Management</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Online exam creation, grading, and result processing.</p>
                                <p>* Generate performance reports and feedback for students.</p>                              
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Fee Management</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Manage student fees, tuition, fines, dues and other payments. </p>
                                <p>* Automated invoice generation, payment reminders, and receipts. </p>
                                <p>* Integration with payment gateways for online payments. </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Library Management:</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Track books, students’ checkouts, returns, and overdue items.</p>
                                <p>* Track books, students’ checkouts, returns, and overdue items.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Reports and Analytics:</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Generate various reports like academic performance, attendance, and financial status.</p>
                                <p>* Analytics tools to help school management identify trends and make data-driven decisions.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Human Resource Management:</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Teacher and staff management including payroll, attendance, performance reviews, and leave tracking.</p>
                                <p>* Recruitment management for new faculty.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Parental Access:</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p>* Secure portals where parents can monitor their child’s grades, attendance, and school activities.</p>
                                <p>* Push notifications for parents regarding important updates.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-boxarea">
                                <a href="#">Cloud-Based Solution</a>
                                <div class="space40"></div>
                                <img src="assets/img/icons/service-icon17.svg" alt="">
                                <div class="space40"></div>
                                <p><b>Cloud-Based Solutions:</b> Hosted on the cloud, offering easy access from anywhere with an internet connection, regular updates, and low upfront costs.</p>
                                <p><b>On-Premise Solutions: </b>Installed and maintained on the school’s own servers, offering more control but requiring IT resources.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="service-boxarea">
                                <a href="#">Cloud-Based Solution</a>                                                                                            
                                <p><b>Cloud-Based Solutions:</b> Hosted on the cloud, offering easy access from anywhere with an internet connection, regular updates, and low upfront costs.</p>
                                <p><b>On-Premise Solutions: </b>Installed and maintained on the school’s own servers, offering more control but requiring IT resources.</p>
                                <div class="space40"></div>
                                <a href="#">Benefits of School Management Software</a>
                                <p><b>Efficiency : </b> Reduces manual work, automates routine tasks, and eliminates paper-based processes.<br>
                                   <b>Communication : </b>Facilitates easier and more efficient communication between students, teachers, and parents.<br>
                                   <b>Data Accessibility : </b> Centralized access to all student data, grades, and attendance in one system, improving decision-making.<br>
                                   <b>Cost Savings : </b>Automation and reduced manual tasks lead to cost savings in administrative operations.<br>
                                   <b>Scalability : </b>Can accommodate growing student populations or multiple campuses, with additional features being added as needed.<br>
                                   <b>Compliance : </b>Helps schools comply with regulatory requirements, such as reporting academic performance, attendance, and student data privacy.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== SERVICE AREA ENDS =======-->