<!--===== HERO AREA STARTS =======-->
<div class="about-header-area" style="background-image: url(assets/img/bg/inner-header.png); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <img src="assets/img/elements/elements1.png" alt="" class="elements1 aniamtion-key-1">
  <img src="assets/img/elements/star2.png" alt="" class="star2 keyframe5">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 m-auto">
              <div class="about-inner-header heading9 text-center">
                  <h1>Contact Us</h1>
                  <a href="index.html">Home <i class="fa-solid fa-angle-right"></i> <span>Contact Us</span></a>
              </div>
          </div>
      </div>
  </div>
</div>
<!--===== HERO AREA ENDS =======-->

<!--===== CONTACT AREA STARTS =======-->
<div class="contact-main-inner-area sp1">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="heading2 contact-header">
                 <h5>Contact Us</h5>
                 <h2>Get in Touch with SCI We Value Your Connection</h2>
                 <p>Our dedicated team is committed to providing prompt and effective support to ensure your needs are met. We believe in open communication and are always ready to listen. Reach out to us via phone, email, or live chat, or visit our office during business hours.</p>
                 <div class="space32"></div>
                 <div class="number-address-area">
                  <div class="phone-number">
                      <div class="img1">
                          <img src="assets/img/icons/phone3.svg" alt="">
                      </div>
                      <div class="content">
                          <p>Phone Number</p>
                          <a href="tel:123-456-7890">91-735-533-5204<br>91-995-610-8976</a>
                      </div>
                  </div>

                  <div class="phone-number m-0">
                      <div class="img1">
                          <img src="assets/img/icons/email3.svg" alt="">
                      </div>
                      <div class="content">
                          <p>Email Address</p>
                          <a href="mailto:Infoseoc@gmail.com">salesscijhs&commat;gmail.com</a>
                      </div>
                  </div>
                 </div>
                 <div class="space50"></div>
                 <div class="number-address-area2">
                  <div class="phone-number">
                      <div class="img1">
                          <img src="assets/img/icons/location3.svg" alt="">
                      </div>
                      <div class="content">
                          <a href="#">Nanak Ganj Sipri Bazar Jhansi <br class="d-lg-block d-none">-Uttar Pradesh, India - 284003</a>
                      </div>
                  </div>               
                 </div>
              </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5">
              <div class="contact-form-area">
                  <h4>Get In Touch</h4>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="input-area">
                              <input type="text" placeholder="First Name" (keyup)="onChnage()" [(ngModel)]="obj.fName">
                          </div>
                      </div>

                      <div class="col-lg-12">
                          <div class="input-area">
                              <input type="text" placeholder="Last Name" (keyup)="onChnage()"  [(ngModel)]="obj.lName">
                          </div>
                      </div>

                      <div class="col-lg-12">
                          <div class="input-area">
                              <input type="email" placeholder="Email Address" (keyup)="onChnage()"  [(ngModel)]="obj.email">
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="input-area">
                              <input type="number" placeholder="Phone Number" (keyup)="onChnage()"  [(ngModel)]="obj.phone">
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="input-area">
                            <textarea placeholder="Your Message" (keyup)="onChnage()"  [(ngModel)]="obj.message"></textarea>
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="input-area">
                           <a href="whatsapp://send?text={{shareContent}}&phone=917355335204" data-action="share/whatsapp/share" class="header-btn1">Get In Touch <span><i class="fa-solid fa-arrow-right"></i></span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> 
<!--===== CONTACT AREA ENDS =======-->