h6.forsale {
    font-size: 21px;
    font-weight: 600;
    font-family: 'SegoeSemiBold';
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 15px;
  }

  .address-location {
    position: relative;
  }

  .address-location img {
    position: absolute;
    top: 29px;
    width: 14px;
    margin-top: 0;
  }

  .address-location .address-revs {
    margin-left: 28px;
  }

  div#baguetteBox-overlay {
    display: none;
  }

  .foo-contacts .address-revs span {
    color: #fff !important;
  }

  .contact-us-add {
    border-radius: 14px 0 0 14px;
    overflow: hidden;
  }

  .contact-us-view {
    border-radius: 0 14px 14px 0;
    overflow: hidden;
  }

  .address-location .address-revs h6 {
    font-size: 14px;
    position: relative;
  }

  .address-location .address-revs p {
    text-transform: none;
    font-family: Segoe;
    margin-bottom: 6px;
    padding-left: 30px;
    position: relative;
    font-size: 14px;
  }

  .address-location .address-revs p img {
    left: 0;
    position: absolute !important;
  }

  .address-location img {
    width: 22px;
    top: 0px;
  }

  .address-location .address-revs h6:after {
    content: '';
    height: 2px;
    width: 40px;
    background: #fff;
    display: block;
  }

  .contact-us-branches {
    background: #fff;
    box-shadow: 4px 4px 20px #70AAFF3B;
    border-radius: 14px;
  }

  .contact-us-branches .address-location .address-revs h6 {
    color: #003078;
  }

  .contact-us-branches .address-location .address-revs h6:after {
    background: #007bff;
  }

  .contact-us-branches .address-location .address-revs p,
  .contact-us-branches .address-location .address-revs p a {
    color: #333333 !important;
  }

  .sales-wrp .success-text div {
    font-size: 24px;
  }

  .footer-dark,
  .footer-dark a {
    font-size: 14px;
  }

  @media (min-width: 992px) {
    .foo-contacts {
      margin-bottom: -30px;
      z-index: 9;
    }

    .sales-wrp {
      padding-top: 60px !important;
    }
  }

  @media (max-width: 991px) {

    .contact-us-view,
    .foo-contacts .contact-us-add {
      border-radius: 14px 14px 14px 14px;
    }

    .address-location .address-revs p img {
      top: 0px !important;
    }

    .success-text.d-flex.align-items-center {
      justify-content: center;
    }
  }

  @media (min-width: 1200px) {
    .footer-top .offset-xl-1 {
      margin-left: 1%;
    }

    .mw-158 {
      min-width: 158px;
    }
  }