
<!--===== PRELOADER STARTS =======-->
<!-- <div class="preloader preloader5">
  <div class="loading-container">
    <div class="loading"></div>
    <div id="loading-icon"><img src="assets/logo/logo.png" alt=""></div>
  </div>
</div> -->
<!--===== PRELOADER ENDS =======-->

<!--===== PROGRESS STARTS=======-->
<div class="paginacontainer">
     <div class="progress-wrap">
       <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
       </svg>
     </div>
   </div>
 <!--===== PROGRESS ENDS=======-->

   <!--=====HEADER START=======-->
   <header>
    <div class="header-area homepage3 header header-sticky d-none d-lg-block " id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-elements">
              <div class="site-logo">
                <a href="/"><img src="assets/logo/logo.png" alt=""></a>
              </div>
              <div class="main-menu">
                <ul>                 
                  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                  <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
                  <li><a routerLink="/services" routerLinkActive="active">Service</a></li>                
                  <li><a routerLink="/product" routerLinkActive="active">Our Product</a></li>                                               
                  <li><a routerLink="/tour-travels">Tour Travels</a></li>
                  <li><a routerLink="/contact-us">Contact Us</a></li>
                <a href="whatsapp://send?text={{shareContent}}&phone=917355335204" data-action="share/whatsapp/share" class="header-btn5">Free Consultation <img src="assets/img/icons/whatsapp.svg" style="width: 32px;"></a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--=====HEADER END =======-->

  <!--===== MOBILE HEADER STARTS =======-->
 <div class="mobile-header mobile-haeder2 d-block d-lg-none">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a href="/"><img src="assets/logo/logo.png" alt=""></a>
        </div>
        <div class="mobile-nav-icon dots-menu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar mobile-sidebar2">
  <div class="logosicon-area">
    <div class="logos">
      <img src="assets/logo/logo.png" alt="">
    </div>
    <div class="menu-close">
      <i class="fa-solid fa-xmark"></i>
    </div>
   </div>
  <div class="mobile-nav mobile-nav1">
    <ul class="mobile-nav-list nav-list1">
      <li><a onclick="$('.mobile-sidebar').toggleClass('mobile-menu-active')"  routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a onclick="$('.mobile-sidebar').toggleClass('mobile-menu-active')"  routerLink="/about" routerLinkActive="active">About Us</a></li>
      <li><a onclick="$('.mobile-sidebar').toggleClass('mobile-menu-active')"  routerLink="/services" routerLinkActive="active">Service</a></li>                
      <li><a onclick="$('.mobile-sidebar').toggleClass('mobile-menu-active')"  routerLink="/product" routerLinkActive="active">Our Product</a></li>                                               
      <li><a onclick="$('.mobile-sidebar').toggleClass('mobile-menu-active')"  routerLink="/tour-travels">Tour Travels</a></li>
      <li><a onclick="$('.mobile-sidebar').toggleClass('mobile-menu-active')"  routerLink="/contact-us">Contact Us</a></li>
    </ul>

    <div class="allmobilesection">
      <a href="/"  class="header-btn3">Get Started</a>
      <div class="single-footer">
        <h3>Contact Info</h3>
        <div class="footer1-contact-info">
          <div class="contact-info-single">
            <div class="contact-info-icon">
              <i class="fa-solid fa-phone-volume"></i>
            </div>
            <div class="contact-info-text">
              <a href="tel:+917355335204">91-735-533-5204,<br>
                91-995-610-8976</a>
            </div>
          </div>

          <div class="contact-info-single">
            <div class="contact-info-icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="contact-info-text">
              <a href="mailto:salesscijhs&commat;gmail.com">salesscijhs&commat;gmail.com</a>
            </div>
          </div>

          <div class="single-footer">
            <h3>Our Location</h3>
            
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="contact-info-text">
                <a href="mailto:salesscijhs&commat;gmail.com" >Nanak Ganj Sipri Bazar Jhansi<br>
                  -Uttar Pradesh, India - 284003</a>
              </div>
            </div>

          </div>
          <div class="single-footer">
            <h3>Social Links</h3>
            
            <div class="social-links-mobile-menu">
              <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>
<!--===== MOBILE HEADER STARTS =======-->


