<div id="turn-around" class="animate__animated animate__fadeInRight animate__delay-2s d-md-none">
    <!-- <a href="https://cbseresultanalysis.edunexttechnologies.com/Index" title="CBSE Result Analysi" target="_blank" class="smoothness" title="For Sales Enquiry">CBSE Result Analysis</a> -->
    <!-- <a onclick="redirectToSection()" title="Book a Demo" target="_blank" class="smoothness" title="For Sales Enquiry">Book A Demo</a> -->
    <a href="reach-us.html" title="Book a Demo" target="_blank" class="smoothness" title="For Sales Enquiry">Book A
      Demo</a>
    <!-- <a href="#frmContact" title="Book a Demo" target="_blank" class="smoothness"
                    title="For Sales Enquiry">Book A Demo</a> -->
    <!-- <a href="signup-facebook.php" title="Sign Up with Facebook" target="_blank" class="smoothness"
                    >Sign Up with Facebook</a> -->

  </div>

  <!-- start header -->
  <header class="header-with-topbar">
    <div class="top-bar bg-white d-none d-md-inline-block padding-35px-lr md-no-padding-lr">
      <div class="container-fluid nav-header-container">
        <div class="d-flex flex-wrap align-items-center border-bottom border-color-gray-transparent">
          <div class="col-8 col-lg-7 d-none d-sm-block text-left px-lg-0 font-size-0">
            <div class="top-bar-contact font-family-SegoeSemiBold">
              <span class="top-bar-contact-list helpdesk-title mr-3">
               Enquiry Here
              </span>
              <span class="top-bar-contact-list">
                <a href="tel:+917355335204" title="Call Us" target="_blank">
                  <i class="feather icon-feather-phone-call icon-extra-small text-icon-color"></i>
                  +91 7355335204
                </a>
              </span>
              <span class="top-bar-contact-list d-none d-md-inline-block no-border-right pr-0">
                <a href="mailto:salesscijhs@gmail.com" title="Mail Us" target="_blank">
                  <i class="feather icon-feather-envelope icon-extra-small text-icon-color"></i>
                  salesscijhs&commat;gmail.com
                </a>
              </span>
            </div>
          </div>
          <div class="col-4 col-lg-5 text-right pr-0 d-flex justify-content-end align-items-center"> 
            <ul class="social-icon padding-5px-tb d-none d-lg-inline-block">
              <li class="font-family-SegoeSemiBold">Follow Us</li>
              <li><a class="text-neon-blue-hover" href="#" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
              <li><a class="text-neon-blue-hover" href="#"
                  target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a class="text-neon-blue-hover" href="#" target="_blank"><i
                    class="fab fa-youtube"></i></a></li>
              <li><a class="text-neon-blue-hover" href="#"
                  target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a class="text-neon-blue-hover" href="#" target="_blank"><i
                    class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav
      class="navbar new-display navbar-expand-lg top-space navbar-light bg-white header-light fixed-top navbar-boxed header-reverse-scroll">
      <div class="container-fluid nav-header-container">
        <div class="col-8 col-lg-2 col-xl-3">
          <a class="navbar-brand" href="/">
            <img src="/img/logo.jpg" data-at2x="/img/logo.jpg"
              class="Edunext logo mobile-logo-width" alt="Student Care India logo" width="230">
          </a>
        </div>
        <div class="col-1 col-lg-8 col-xl-7 menu-order">
          <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-line"></span>
            <span class="navbar-toggler-line"></span>
            <span class="navbar-toggler-line"></span>
            <span class="navbar-toggler-line"></span>
          </button>
          <div class=" collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav font-family-SegoeSemiBold">
              <li class="nav-item dropdown megamenu">
                <a routerLink="/home" routerLinkActive="active" class="nav-link flip-animate"><span data-hover="Home">Home</span></a>
              </li>    
              <li class="nav-item dropdown megamenu">
                <a routerLink="/about-sci" routerLinkActive="active" class="nav-link flip-animate"><span data-hover="About Us">About Us</span></a>
              </li> 
              <li class="nav-item dropdown megamenu">
                <a routerLink="/services" routerLinkActive="active" class="nav-link flip-animate"><span data-hover="Services">Services</span></a>
              </li> 
              <li class="nav-item dropdown megamenu">
                <a routerLink="/product" routerLinkActive="active" class="nav-link flip-animate"><span data-hover="Our Product">Our Product</span></a>
              </li> 
              <li class="nav-item dropdown megamenu">
                <a routerLink="/our-clients" routerLinkActive="active" class="nav-link flip-animate"><span data-hover="Our Clients">Our Clients</span></a>
              </li> 
              <li class="nav-item dropdown megamenu">
                <a routerLink="/contact-us" routerLinkActive="active" class="nav-link flip-animate"><span data-hover="Contact Us">Contact Us</span></a>
              </li> 
              <li class="nav-item dropdown megamenu">
                <a routerLink="/home" routerLinkActive="active" class="nav-link flip-animate"><span data-hover="SCI Tour">SCI Tour</span></a>
              </li> 
            </ul>
          </div>
        </div>
        <div class="col-3 col-lg-2 col-xl-2 text-right pr-0 font-size-0 p-l-tab-1024">
          <div class="header-search-icon search-form-wrapper">
            <div class="contact-us font-family-SegoeSemiBold" data-wow-delay="100ms">
              <a routerLink="/" class="blue-btn button-1"><span>Book a Demo Now</span></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>