<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                                class="fa fa-chevron-right"></i></a></span> <span>About us <i
                            class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">About Us</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
                <div class="w-100">
                    <span class="subheading">Welcome to Student Care India</span>
                    <h2 class="mb-4">start your adventure</h2>
                    <p>Welcome to SCI Tour Established in 2015, We are excited to have you join us on a school Tour. Our organization has been dedicated to providing a nurturing and inclusive learning environment for students of all ages. At SCI Tour we believe in fostering academic excellence, personal growth, and a sense of community.</p>
                    <p>A school tour is a great opportunity to explore the facilities, meet staff,
                        and get a feel for the environment of the school. Whether you’re a prospective student,
                         parent, or simply organizing a tour, here are some tips and things to expect during a typical school tour:</p>                                          
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services services-1 color-1 d-block img"
                            style="background-image: url(images/services-1.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="flaticon-paragliding"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Activities</h3>
                                <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services services-1 color-2 d-block img"
                            style="background-image: url(images/services-2.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="flaticon-route"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Travel Arrangements</h3>
                                <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services services-1 color-3 d-block img"
                            style="background-image: url(images/services-3.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="flaticon-tour-guide"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Private Guide</h3>
                                <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services services-1 color-4 d-block img"
                            style="background-image: url(images/services-4.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="flaticon-map"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Location Manager</h3>
                                <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
                <div class="w-100">                                        
                    <h6 class="text-danger">Campus Tour:</h6>     
                         <ul>
                           <li>You'll typically walk through classrooms, libraries, gyms, dining areas, and possibly specialized rooms like science labs or music/art studios.</li>
                           <li>You might also visit outdoor spaces such as sports fields, courtyards, or playgrounds.</li>
                         </ul>  
                         <h6 class="text-danger">Meet Students and Teachers:</h6>     
                         <ul>                           
                           <li>Some tours include opportunities to interact with current students or teachers. This can give you insight into the school culture.</li>
                         </ul> 
                         <h6 class="text-danger">Observe the Environment:</h6>     
                         <ul>                           
                           <li>Pay attention to the atmosphere: Is it welcoming and supportive.</li>
                           <li>Ask about school events, social spaces, and safety measures on campus.</li>
                         </ul>                                      
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-intro ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="img" style="background-image: url(images/bg_2.jpg);">
                    <div class="overlay"></div>
                    <h2>We Are Pacific A Travel Agency</h2>
                    <p>We can manage your dream building A small river named Duden flows by their place</p>
                    <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
                </div>
            </div>
        </div>
    </div>
</section>