<div class="about-header-area" style="background-image: url(assets/img/bg/inner-header.png); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <img src="assets/img/elements/elements1.png" alt="" class="elements1 aniamtion-key-1">
    <img src="assets/img/elements/star2.png" alt="" class="star2 keyframe5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-auto">
                <div class="about-inner-header heading9 text-center">
                    <h1>Our Products</h1>
                    <a href="/">Home <i class="fa-solid fa-angle-right"></i> <span>Our Products</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service1-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="service-all-boxes-area">
            <div class="service-boxarea">
              <a href="#">SMS Integration </a>
              <div class="space40"></div>
              <img src="assets/img/icons/service-icon1.svg" alt="">
              <div class="space40"></div>
              <p>SMS integration refers to the process of incorporating Short Message Service (SMS) functionality into an application, website, or system to send and receive text messages programmatically. This can be useful for a variety of purposes, including</p>
            </div>
  
            <div class="service-boxarea box2">
              <a href="#">Biometric Integration</a>
              <div class="space40"></div>
              <img src="assets/img/icons/service-icon2.svg" alt="">
              <div class="space40"></div>
              <p>A biometric device is a piece of hardware used to capture, process, and authenticate biometric data, which is then used to verify the identity of an individual. Biometric devices rely on unique physical traits (such as fingerprints, face, iris, voice, or even palm prints) for identification or authentication. These devices are widely used for security purposes, access control, and user authentication.</p>
            </div>
  
            <div class="service-boxarea box3">
              <a href="#">WhatsApp Integrations</a>
              <div class="space66"></div>
              <img src="assets/img/icons/service-icon3.svg" alt="">
              <div class="space40"></div>
              <p>WhatsApp Integration refers to the process of incorporating WhatsApp messaging features into your application, website, or business process. This can be used for customer support, notifications, marketing, or any communication directly via WhatsApp.</p>
            </div>
  
            <div class="service-boxarea box4">
              <a href="#">Smart class</a>
              <div class="space40"></div>
              <img src="assets/img/icons/service-icon4.svg" alt="">
              <div class="space40"></div>
              <p>A smart class is an educational environment that integrates technology into the teaching and learning process to enhance engagement, collaboration, and efficiency. These classrooms are equipped with advanced digital tools and resources that provide interactive, multimedia-based lessons and facilitate communication between students and teachers. The goal of a smart classroom is to create a more dynamic, interactive, and personalized learning experience.</p>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>