<!--===== HERO AREA STARTS =======-->
<div class="about-header-area" style="background-image: url(assets/img/bg/inner-header.png); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <img src="assets/img/elements/elements1.png" alt="" class="elements1 aniamtion-key-1">
    <img src="assets/img/elements/star2.png" alt="" class="star2 keyframe5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="about-inner-header heading9 text-center">
                    <h1>Tour & Travels</h1>
                    <a href="/">Home <i class="fa-solid fa-angle-right"></i> <span>Tour & Travels</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== HERO AREA ENDS =======-->

<!--===== ABOUT AREA STARTS =======-->
<div class="service-inner2-section-area sp8">
    <img src="assets/img/elements/instagram1.png" alt="" class="instagram1">
    <img src="assets/img/elements/linkedin1.png" alt="" class="linkedin1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="service-images">
                    <img src="assets/img/elements/facebook1.png" alt="" class="facebook1">
                   <img src="assets/img/elements/twitter1.png" alt="" class="twitter1">
                    <img src="assets/img/all-images/service-img11.png" alt="">
                    <img src="assets/img/bg/inner-bg1.png" alt="" class="inner-bg1">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="service-content heading2">
                    <h5>SCI Tour & Travels</h5>
                    <h2>SCI Tour & Travels</h2>
                    <p>A school tour refers to a guided visit or an exploration of a school campus, typically
                         for prospective students and their families. School tours are often organized to help
                          individuals or groups get a better sense of the school's environment, facilities, culture, and educational offerings. These tours are especially common for new students, parents considering enrolling their children, or other stakeholders such as prospective staff or educational partners.</p>
                    <br>                 
                    <div class="space32"></div>
                    <div class="btn-area1">
                        <a routerLink="/" class="header-btn1">Visit SCI Tour  <span><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== ABOUT AREA ENDS =======-->