

<!--===== FOOTER AREA STARTS =======-->
<div class="footer3-section-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-logo-area">
            <img src="assets/img/logo/logo3.png" alt="">
            <p>Studentcareindia established in 2015, has emerged as a leading provider of school 
              management software solutions in India. Our journey began with a vision to revolutionize
               the way educational institutions operate by introducing innovative technology solutions</p>
            <ul>
              <li><a href="#"><img src="assets/img/icons/facebook3.svg" alt=""></a></li>
              <li><a href="#"><img src="assets/img/icons/instagram3.svg" alt=""></a></li>
              <li><a href="#"><img src="assets/img/icons/linkedin2.svg" alt=""></a></li>
              <li><a href="#"><img src="assets/img/icons/twitter2.svg" alt=""></a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-2 col-md-6">
          <div class="footer-logo-area1">
            <h3>About Link</h3>
            <ul>
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/services">Services</a></li>
              <li><a routerLink="/product">Our Product</a></li>
              <li><a routerLink="/tour-travels">Tour & Travels</a></li>          
            <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="footer-logo-area2">
            <h3>Get in touch</h3>
            <ul>
              <li><a href="404-10.html"><img src="assets/img/icons/email.svg" alt=""><span>salesscijhs&commat;gmail.com</span></a></li>
              <li><a href="#"><img src="assets/img/icons/location.svg" alt=""><span>Nanak Ganj Sipri Bazar Jhansi <br class="d-lg-block d-none">-Uttar Pradesh, India - 284003</span></a></li>
              <li><a href="tel:123-456-7890"><img src="assets/img/icons/phone.svg" alt=""><span>91-735-533-5204<br>91-995-610-8976</span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="footer-logo-area3">
            <h3>Subscribe Our Newsletter</h3>
            <form action="#">
              <input type="text" placeholder="Enter Your email">
              <button class="header-btn4 btn2"> Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="space80 d-lg-block d-none"></div>
      <div class="space40 d-lg-none d-block"></div>
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-area">
            <div class="pera">
              <p>ⓒCopyright 2025 Student Care India . All rights reserved</p>
            </div>
            <ul>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#" class="m-0"> Privacy Policy </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--===== FOOTER AREA ENDS =======-->