<footer class="footer-dark footer-bg-color">
    <div class="footer-top padding-seven-tb lg-padding-eight-tb sm-padding-30px-tb">
      <div class="container">
        <div class="row justify-content-center">
          <!-- start footer column -->
          <div
            class="col-12 col-lg-3 col-sm-12 order-5 order-lg-0 text-md-center text-lg-left last-paragraph-no-margin">
            <a href="/" class="margin-25px-bottom margin-5px-top d-inline-block"><img
                src="/img/logo.jpg" data-at2x="/img/logo.jpg"
                alt="Edunext" width="230" class="wow animate__zoomIn" data-wow-duration="1s"></a>
            <p class="footer-para">Student Care India ERP is India's most advanced school management software with
              mobile apps for students, parents, teachers and management.</p>
          </div>
          <!-- end footer column -->
          <!-- start footer column -->
          <div class="col-6 col-lg col-md-6 col-sm-6 order-2 order-lg-0 md-margin-40px-bottom xs-margin-5px-bottom">
            <span
              class="alt-font font-weight-500 d-block footer-head-color xs-margin-10px-bottom text-uppercase">Services</span>
            <ul>
              <li><a href="#">E-Learning Software</a></li>
              <li><a href="#">Online Classes</a></li>
              <li><a href="#">Payment Gateway</a></li>
              <li><a href="#">School Mobile App</a></li>
              <li><a href="#">Finance Management</a></li>
              <li class="d-sm-none d-block"><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- end footer column -->
          <!-- start footer column -->
          <div
            class="col-6 col-lg col-md-6 col-sm-6 order-3 order-lg-0 md-margin-40px-bottom xs-margin-25px-bottom px-xl-0 pr-lg-0">
            <ul class="gpli mw-158 mt-5">
              <li><a href="#">Fee Management</a></li>
              <li><a href="#">Visitor Management</a></li>
              <li><a href="#">Student Information</a></li>
              <li><a href="#">Admission Management</a></li>
              <li><a href="#">Exam Proctoring</a></li>
              <li class="d-sm-none d-block"><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
          <!-- end footer column -->
          <!-- start footer column -->
          <div class="col-6 col-lg col-md-6 col-sm-6 order-4 order-lg-0 xs-margin-25px-bottom">
            <ul class="gpli d-none d-md-block">
              <li><a href="#">Transport App</a></li>
              <li><a href="#">HR Management</a></li>
              <li><a href="#">Biometric Integration</a></li>
              <li><a href="#">GPS & Bus Tracking</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- end footer column -->
          <!-- start footer column -->
          <div class="col-6 col-lg col-md-6 col-sm-6 order-4 order-lg-0">
            <ul class="gpli d-none d-lg-block">
              <li><a href="#">Library Management</a></li>
              <li><a href="#">Staff Payroll</a></li>
              <li><a href="#">Digital Content</a></li>
              <li><a href="#">RFID System</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
          <!-- end footer column -->
        </div>
        <!-- <div class="row">
                        <div class="col-12">
                            <div class="bottom-footer-middle">
                                <ul class="text-center d-md-flex justify-content-center">
                                    <li class="mx-md-4"><a href="index.php">Home</a></li>
                                    <li class="mx-md-4"><a href="life-at-edunext.php">Life at Edunext</a></li>
                                    <li class="mx-md-4"><a href="know-us.php">Know us</a></li>
                                    <li class="mx-md-4"><a href="careers.php">Career</a></li>
                                    <li class="mx-md-4"><a href="blogs.php">Blogs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
        <div class="row bottom-footer">
          <div class="col-12">
            <div class="bottom-footer-middle">
              <div class="row">
                <div class="col-md-8">
                  <div class="copyright">2024 <a href="/">Student Care India</a> | All Right Reserved.
                  </div>
                </div>
                <div class="col-md-4 text-md-right">
                  <ul class="footer-social-icon py-2 py-md-1">
                    <li class="font-family-SegoeSemiBold">Follow Us</li>
                    <li><a class="text-neon-blue-hover" href="#"
                        target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="text-neon-blue-hover" href="#"
                        target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="text-neon-blue-hover" href="#"
                        target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a class="text-neon-blue-hover"
                        href="#" target="_blank"><i
                          class="fab fa-linkedin-in"></i></a></li>
                    <li><a class="text-neon-blue-hover" href="#" target="_blank"><i
                          class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>