<div class="bg3">
    <section class="what-wrp client-wrp pt-lg-2"
        style="background: url('images/edunexttechnologies_noida_clientel-bg.png') no-repeat center / cover;">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="why-choose-one__right animate__animated animate__slideInLeft py-4"
                        data-wow-duration="1s">
                        <div class="section-title text-left">
                            <h4 class="section-title__title">Our Prestigious Clients in India and Abroad</h4>
                        </div>
                        <p class="why-choose-one__right-text">Edunext has been a trustworthy technology partner and
                            being the right choice for every types of schools.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="ccard text-center wow animate__fadeInUp" data-wow-delay="0.1s">
                                <div class="ccard-top">
                                    <img src="images/edunexttechnologies_noida-Esteemed-School-Patrons.svg"
                                        class="img-fluid" alt="Best School Management Software Company in India">
                                </div>
                                <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0"
                                    data-to="1100"></h3>
                                <span class="plus-ico blue-color title-extra-small font-weight-500">+</span>
                                <span class="alt-font text-medium d-block counter-title">Esteemed School
                                    Patrons</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ccard text-center wow animate__fadeInUp mb-4" data-wow-delay="0.1s">
                                <div class="ccard-top">
                                    <img src="images/edunexttechnologies_noida-Esteemed-School-Patrons.svg"
                                        class="img-fluid" alt="Best School Management Software Company in India">
                                </div>
                                <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0"
                                    data-to="12"></h3>
                                <span class="plus-ico blue-color title-extra-small font-weight-500">+</span>
                                <span class="alt-font text-medium d-block counter-title">Years of Operation</span>
                            </div>
                            <div class="ccard text-center wow animate__fadeInUp" data-wow-delay="0.1s">
                                <div class="ccard-top">
                                    <img src="images/edunexttechnologies_noida-Esteemed-School-Patrons.svg"
                                        class="img-fluid" alt="Best School Management Software Company in India">
                                </div>
                                <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0"
                                    data-to="950000"></h3>
                                <span class="plus-ico blue-color title-extra-small font-weight-500">+</span>
                                <span class="alt-font text-medium d-block counter-title">Connecting Parents with
                                    Zero Downtime</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ccard text-center wow animate__fadeInUp mb-4 mt-lg-5" data-wow-delay="0.1s">
                                <div class="ccard-top">
                                    <img src="images/edunexttechnologies_noida-Esteemed-School-Patrons.svg"
                                        class="img-fluid" alt="Best School Management Software Company in India">
                                </div>
                                <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0"
                                    data-to="200"></h3>
                                <span class="plus-ico blue-color title-extra-small font-weight-500">+</span>
                                <span class="alt-font text-medium d-block counter-title">Extraordinary
                                    Technocrats</span>
                            </div>
                            <div class="ccard text-center wow animate__fadeInUp" data-wow-delay="0.1s">
                                <div class="ccard-top">
                                    <img src="images/edunexttechnologies_noida-Esteemed-School-Patrons.svg"
                                        class="img-fluid" alt="Best School Management Software Company in India">
                                </div>
                                <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0"
                                    data-to="20000"></h3>
                                <span class="plus-ico blue-color title-extra-small font-weight-500">+</span>
                                <span class="alt-font text-medium d-block counter-title">Our Awesome
                                    Educators</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<!-- start section -->
<section class="big-section py-5 wow animate__fadeIn clientele-wrp">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="swiper-container text-center"
                    data-slider-options='{ "slidesPerView": 2, "loop": true, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 7 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 3 } } }'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/dps.png"
                                            alt="Delhi Public School" />
                                    </div>
                                    <p class="text-center">Delhi Public School<small>90+ Branches</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/mr_jaipuria.png"
                                            alt="St. Jaipuria Schools" />
                                    </div>
                                    <p class="text-center">St. Jaipuria Schools <small> 22 Branches</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/Aaryans-Group-of-Schools.png"
                                            alt="Aaryans Group of Schools" />
                                    </div>
                                    <p class="text-center">Aaryans Group of Schools<small>12 Branches</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image" src="images/presidency_logo.png"
                                            alt="Presidency Group of Schools" />
                                    </div>
                                    <p class="text-center">Presidency Group of Schools <small>11 Branches</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/g.d.g.png"
                                            alt="G.D. Goenka Public School" />
                                    </div>
                                    <p class="text-center">G.D. Goenka Public School <small> 60+ Branches</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/Mount-Litera-Zee-School.png"
                                            alt="Mount Litera Zee School" />
                                    </div>
                                    <p class="text-center">Mount Litera Zee School<small>7 Branches</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/skd_academy.png"
                                            alt="SKD Academy" />
                                    </div>
                                    <p class="text-center">SKD Academy <small>5 Branches</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/K.R.-Mangalam-World-School.png"
                                            alt="K.R. Mangalam World School" />
                                    </div>
                                    <p class="text-center">K.R. Mangalam World School <small> 4 Branches</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/sapphire.png"
                                            alt="Sapphire International School" />
                                    </div>
                                    <p class="text-center">Sapphire International School <small>3 Branches</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/aggarwal_vidya_vihar.png"
                                            alt="Bal Bhawan Public School" />
                                    </div>
                                    <p class="text-center">Agarwal Vidya Vihar <small>4 Branches</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/little_flower.png"
                                            alt="Little Flowers Sr. Sec. School" />
                                    </div>
                                    <p class="text-center">Little Flowers Sr. Sec. School<small>3 Branches</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/adani.png"
                                            alt="Adani Public School" />
                                    </div>
                                    <p class="text-center">Adani Public School <small>2 Branches</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/DPS-Ghana.png"
                                            alt="DPS-Ghana" />
                                    </div>
                                    <p class="text-center">DPS <small>Ghana</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/ils.png"
                                            alt="Indian Language School" />
                                    </div>
                                    <p class="text-center">Indian Language School <small>Lagos</small></p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image" src="https://resources.edunexttechnologies.com/Edunext-Website/img/clients-list/Al-sadiq.png" alt="Al Sadiq Islamic English School" />
                                    </div>
                                    <p class="text-center">Al Sadiq Islamic English School <small>Dubai U.A.E.</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                                <div class="col-12">
                                    <div class="col-client text-center">
                                        <div class="client-box">
                                            <img class="client-box-image" src="https://resources.edunexttechnologies.com/Edunext-Website/img/clients-list/grammarschool.png" alt="Grammar School" />
                                        </div>
                                        <p class="text-center">Grammar School <small>Dubai U.A.E.</small></p>
                                    </div>
                                </div>
                            </div> -->
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/Metas-Adventist-School.png"
                                            alt="Metas Adventist School" />
                                    </div>
                                    <p class="text-center">Metas Adventist School <small>Gujarat</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/HOPETOWNS-GIRLS-SCHOOL-DEHRADUN.png"
                                            alt="Hopetowns Girls School" />
                                    </div>
                                    <p class="text-center">Hopetowns Girls School<small>Dehradun</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/VIDYA-DEVI-JINDAL-SCHOOL-HISAR.png"
                                            alt="Vidya Devi Jindal School" />
                                    </div>
                                    <p class="text-center">Vidya Devi Jindal School<small>Hisar</small></p>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image" src="https://resources.edunexttechnologies.com/Edunext-Website/img/clients-list/The-Punjab-Public-School-Nabha.png" alt="The Punjab Public School" />
                                    </div>
                                    <p class="text-center">The Punjab Public School<small>Nabha</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image" src="https://resources.edunexttechnologies.com/Edunext-Website/img/clients-list/St.-lamart.png" alt="St. Lamart Sr. Secondary School" />
                                    </div>
                                    <p class="text-center">St. Lamart Sr. Secondary School<small>Shantipuri</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image" src="https://resources.edunexttechnologies.com/Edunext-Website/img/clients-list/Salwan-Public-School.png" alt="Salwan Public School" />
                                    </div>
                                    <p class="text-center">Salwan Public School<small>Gurgaon</small></p>
                                </div>
                            </div>
                        </div> -->
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/Ridge-Valley-School.png"
                                            alt="Ridge Valley School" />
                                    </div>
                                    <p class="text-center">Ridge Valley School<small>Gurugram</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/Vellore-International-School-Chennai.png"
                                            alt="Vellore International School" />
                                    </div>
                                    <p class="text-center">Vellore International School <small>Chennai</small></p>
                                </div>
                            </div>
                        </div>


                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/ran.png"
                                            alt="R.A.N. Public School" />
                                    </div>
                                    <p class="text-center">R.A.N. Public School <small>Bilaspur & Rudrapur</small>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/bal_bhawan.png"
                                            alt="Indus Valley Public School" />
                                    </div>
                                    <p class="text-center">Bal Bhavan Public School, <small>Swasthya Vihar</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/ivy.png"
                                            alt="Ivy World School" />
                                    </div>
                                    <p class="text-center">Ivy World School <small>Jalandhar</small></p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/lsa.png"
                                            alt="Lakshmipat Singhania Academy" />
                                    </div>
                                    <p class="text-center">Lakshmipat Singhania Academy <small>Bissau</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/mayoor.png"
                                            alt="Mayoor School" />
                                    </div>
                                    <p class="text-center">Mayoor School <small>Noida</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/mcs.png"
                                            alt="Modern Convent School" />
                                    </div>
                                    <p class="text-center">Modern Convent School <small>Dwarka</small></p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/nehru_world.png"
                                            alt="Nehru World School" />
                                    </div>
                                    <p class="text-center">Nehru World School <small>Ghaziabad</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/nh_goel.png"
                                            alt="NH Goel World School" />
                                    </div>
                                    <p class="text-center">NH Goel World School, <small>Chattisgarh</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-12">
                                <div class="col-client text-center">
                                    <div class="client-box">
                                        <img class="client-box-image"
                                            src="/sci/img/clients-list/shreejee.png"
                                            alt="Shreejee International School" />
                                    </div>
                                    <p class="text-center">Shreejee International School <small>Sonipat</small></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- start slider navigation -->
                <div
                    class="swiper-button-next-nav swiper-button-next rounded-circle light slider-navigation-style-07 box-shadow-double-large">
                    <i class="feather icon-feather-arrow-right"></i>
                </div>
                <div
                    class="swiper-button-previous-nav swiper-button-prev rounded-circle light slider-navigation-style-07 box-shadow-double-large">
                    <i class="feather icon-feather-arrow-left"></i>
                </div>
                <!-- end slider navigation -->
            </div>
        </div>
    </div>
</section>
<!-- end section -->


<!-- start section -->
<section class="client-maine-bg py-5">
    <div class="container-fluid p-lg-0">
        <div class="row justify-content-end">
            <div class="col col-md-3">
                <div class="title-card mb-5 pt-lg-4 mt-md-5">
                    <span
                        class="alt-font font-weight-600 text-primary text-uppercase d-block margin-5px-bottom font-family-SegoeBold font-size-16px wow animate__fadeInUp"
                        data-wow-duration="1s">CLIENT’S TESTIMONIALS</span>
                    <h5 class="alt-font blue-color letter-spacing-minus-1px margin-bottom-10 font-size font-family-SegoeSemiBold wow animate__fadeInUp"
                        data-wow-duration="2s">Let them speak for Us!</h5>
                    <div class="mobile-desc wow animate__fadeInUp" data-wow-duration="2s" data-wow-delay="200ms">
                        Some Impressions from Our Customers !</div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="client-maine-card">
                    <div class="swiper-container black-move"
                        data-slider-options='{ "slidesPerView": 1.2, "loop": true, "spaceBetween": 20, "autoplay": true, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 2.4 } }, "effect": "slide" }'>
                        <div class="swiper-wrapper">
                            <!-- start info banner slider item -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="align-self-center client-msg">
                                            <div class="client-info">
                                                <div class="client-left">
                                                    <img src="/sci/img/lfpsdelhi.png"
                                                        alt="IFPS Delhi" class="img-fluid">
                                                </div>
                                                <div class="client-right">
                                                    <div class="name text-primary">
                                                        Mr. Rohit Dua
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="mb-0 alt-font font-weight-700 text-slate-blue margin-10px-bottom d-block blue-color font-sizr-20px"
                                                style="color:#13294b;">Little Flower Group of Schools</h4>
                                            <p>We have been using Edunext ERP for the last five years and I must say
                                                that we have had a very pleasant experience. Our school is totally
                                                manage through Edunext for all our processes and we have never been
                                                let down. The access speed of the software is tremendous even we
                                                have uploaded more than 3 lakh photographs on the ERP which can be
                                                accessed instantly. I wish them all the success.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end info banner slider item -->
                            <!-- start info banner slider item -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="align-self-center client-msg">
                                            <div class="client-info">
                                                <div class="client-left">
                                                    <img src="/sci/img/jaipuriaschools.jpg"
                                                        alt="Jaipuria School" class="img-fluid">
                                                </div>
                                                <div class="client-right">
                                                    <div class="name text-primary">
                                                        Mr. Kanak Gupta
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="mb-0 alt-font font-weight-700 text-slate-blue margin-10px-bottom d-block blue-color font-sizr-20px"
                                                style="color:#13294b;">Seth MR Jaipuria Group</h4>
                                            <p>We have implemented Edunext ERP across all our franchise schools. We
                                                are happy to observe that franchise schools are satisfied with ERP
                                                and after sales services. Furthermore, we have got centralized MIS
                                                module at our corporate office where information about the progress
                                                of franchisees can be easily tracked. We wish Edunext all the best
                                                in their future endeavours.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end info banner slider item -->
                            <!-- start info banner slider item -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="align-self-center client-msg">
                                            <div class="client-info">
                                                <div class="client-left">
                                                    <img src="/sci/img/takshila.png"
                                                        alt="Takshila" class="img-fluid">
                                                </div>
                                                <div class="client-right">
                                                    <div class="name text-primary">
                                                        Mr. Prem Prakash
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="mb-0 alt-font font-weight-700 text-slate-blue margin-10px-bottom d-block blue-color font-sizr-20px"
                                                style="color:#13294b;">Takshila Educational Society</h4>
                                            <p>We moved to Edunext after using a major ERP solution for 12 years.
                                                Edunext has helped us in making our schools totally paperless
                                                including online admissions and recruitment. We are now able to
                                                manage our four schools from our Delhi office. We appreciate the
                                                efforts of Edunext Team who always stand by us in urgent
                                                requirements.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end info banner slider item -->
                            <!-- start info banner slider item -->
                            <div class="swiper-slide">
                                <div class="row m-0 h-100">
                                    <div class="col-12">
                                        <div class="align-self-center client-msg">
                                            <div class="client-info">
                                                <div class="client-left">
                                                    <img src="/sci/img/dpshardwar.png"
                                                        alt="DPS Haridwar" class="img-fluid">
                                                </div>
                                                <div class="client-right">
                                                    <div class="name text-primary">
                                                        Dr. Anupam Jagga
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="mb-0 alt-font font-weight-700 text-slate-blue margin-10px-bottom d-block blue-color font-sizr-20px"
                                                style="color:#13294b;">Delhi Public School Ranipur Haridwar</h4>
                                            <p>Once we had demonstration of Edunext ERP, we felt that we had been
                                                trailing 5 years behind latest technology. We evaluated 30+ school
                                                ERP companies and selected Edunext. The implementation team has done
                                                a commendable job as we were able to implement all the major modules
                                                within one month's time with 5000 student strength. All the best!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end info banner slider item -->
                        </div>
                    </div>
                    <!-- start slider navigation -->
                    <div
                        class="client-nav-tab swiper-button-previous-nav swiper-button-prev light slider-navigation-style-07 rounded-circle box-shadow-double-large">
                        <i class="feather icon-feather-chevron-left"></i>
                    </div>
                    <div
                        class="client-nav-tab swiper-button-next-nav swiper-button-next light slider-navigation-style-07 rounded-circle box-shadow-double-large">
                        <i class="feather icon-feather-chevron-right"></i>
                    </div>
                    <!-- end slider navigation -->
                </div>
            </div>
        </div>

    </div>
</section>
<!-- end section -->